body {
    background: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
    text-align: center;
}

.panel {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: #020617;
    border-radius: 10px;
    box-shadow: 0 0 15px #38bdf8;
}